.secSkills {
	background-color: #c3c3c3;
}

.skilssGruop .skillsTitle {
	font-size: 230%;
	letter-spacing: .2px;
	text-transform: uppercase;
}

.skillsName {
	color: #000;
}

.column {
	width: 30%;
	display: inline-block;
	margin-left: 70px;
	margin-top: 30px;
}